@import '../base.css';
.h-json-input{
  position: relative;
  .h-json-input-copy {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
    opacity: 0;
  }
  &:hover {
    .h-json-input-copy {
      opacity: 1;
    }
  }
}